@media only screen and (max-width: 600px){
	*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}
nav *{
	margin:0;
	padding: 0;
	outline: none;
	border:none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins",arial;
}
body{
	background-size: 100vw;
	background-repeat: no-repeat;
	background-color: white;
	background-attachment: fixed;
	background-size: cover;
}
nav{
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 90px;
	background: rgba(255,255,255,1);
	overflow: hidden;
	transition: width 0.2s linear;
	box-shadow: 0 20px 20px rgba(0,0,0,0.1);
	
	transition: all 0.5s ease;
	animation: navbar-anim 2s;
}
@keyframes navbar-anim{
	from{
		width:10px;
	}
	to{
		width:90px;
	}
}
.logo{
	margin: 6px;
	text-align: center;
	display: flex;
	transition: all 0.5s ease;
}
.logo img{
	width: 60px;
	height:60px;
	font-weight: bold;
	padding: 15px;
	font-size: 15px;
	text-transform: uppercase;
}
.logo span{
	padding-top: 5px;
	font-weight: bold;
	padding-left: 15px;
	font-size:18px;
	text-transform:uppercase;
}
nav a{
	position: relative;
	color: rgb(0,0,0);
	font-size: 14px;
	display: table;
	width: 300px;
	padding: 10px;
	transition:all 0.5s ease;
}
.whitea{
	color:white;
}
.fas{
	position: relative;
	width: 70px;
	height: 40px;
	top: 14px;
	font-size: 20px;
	text-align:center;
}
.nav-item{
	position: relative;
	top: 12px;
	margin-left: 10px;
}
nav a:hover{
	background:#031738;
	color: white;
}
nav:hover{
	width:300px;
	background: rgba(255,255,255,1);
}
.logout{
	position: absolute;
	bottom: 0;
}

footer{
	margin-top: 100px;
	display: none;
	width:100%;
	height: 300px;
	background-color: #222222;
}
.f-fi{
	display: flex;
	width: 25%;

	border-right:1px solid rgba(255,255,255,.3);
}
.fi-img{
	margin-top: 100px;
	display: flex;
	width: 100%
}
.fi-img img{
	margin-left: 40px;
	width: 100px;
	height:80px;

}
.fi-img h2{
	margin-left: 20px;
	margin-top: 45px;
	color: white;
	font-weight: bold;
	font-family: 'Poppins',arial;

}
.f-con h1{
	font-family: 'Poppins',arial;
	color: white;
	margin-top: 40px;
	margin-left: 20px;
}
.f-con p{
	font-family: arial;
	color: white;
	margin-left: 20px;
	font-size: 12px;
}
.f-link{
	margin-left: 20px;
	margin-top: 30px;
}
.f-link a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: 'Poppins',arial;
	margin-right: 20px;
	font-weight: bold;
}
.f-linkb{
	margin-top: 20px;
	width: 55vw;
	background-color: rgba(255,255,255,.3);
	height:3px;
}
.linked{
	margin-top: 20px;
	display: flex;
}
.gmail{
	display: flex;
}
.gmail i{
	font-size: 20px;
	color: white
}
.gmail a{
	text-transform: lowercase;
	font-size: 12px;
	margin-top: 1px;
	margin-left: 5px;
	font-weight: normal;
}
.copy{

	cursor: normal;
}
.content{
	display: flex;
	width:100%;
}
.nav-ex{
	display: none;
	width: 95px;
	height:93px;
	background-color: #ffff;
}
.con-utama{
	margin: 0;
	padding: 0;
	display: block;
	width:100%;
}
.header-first{
	display: block;
	background-color: #676767;
	box-shadow:none;
}
.header-first h2{
	color:white;
	text-align: center;
	font-family: 'Poppins',arial;
	font-size: 16px;
	margin: 0;
	width:100%;
}
.header-first p{
	text-align: center;
	margin: 0;
	font-family: 'Poppins',arial;
	color: white;
	font-size: 8px;
}
.con-list{
	width:100%;
	display: block;
}
.con-list h2{
	color: #ffff;
	margin-left: 10px;
	font-family: arial;
	width:200px;
	border-bottom: 2px solid rgba(255,255,255,.5);
}
.sub-con{
	display: block;
	width: 100%;
}
.m-cr{
	margin-top:-120px;
	transform: scale(0.8);
	width: 100%;
}
.cr{
	display: block;
	width: 80%;
}
.cr a{
	margin: 10px;
	text-decoration: none;
}
.card{
	flex-direction: column;
	width: 100%;
	height:250px;
	border-radius: 5px;
	transition: all 0.3s ease;
	box-shadow: 0 0 10px #B2B2B2;
}
.card:hover{

	box-shadow: 0 0 15px #AAAAAA;
	border-radius: 30px;
	transform: scale(1.05);
}
.card img{

	width: 80px;
	height:80px;
	margin:10px;
	border-radius: 5px;
	transition: all 0.3s ease;
}
.card{
	text-decoration: none;
}
.card p{
	color: gray;
	margin-left: 10px;
	font-family: 'Poppins',arial;
	font-size: 12px;
}
.card h1{
	color: black;
	font-family: 'Poppins',arial;
	margin-left: 10px;
	text-decoration: none;
}
.tab-line{
	display: none;
	width: 300px;
	background-color:rgba(255,255,255,.05);
	height:5px;
	margin-bottom: 50px;
}
.sosmed{
	padding:10px;
	display: none;
	overflow-x: hidden;
	position: fixed;
	z-index: 5;
	right:20px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 5px gray;
	border-radius: 10px;
	bottom:20px;
	width:45px;
	transition: all 0.5s ease;
}
.sosmed a{
	text-decoration: none;
	display: flex;
	transition: all 0.3s ease;
}
.sosmed:hover{
	width: 130px;
}
.sosmed a:hover{
	transform: scale(.9);
}
.sosmed a i{
	color: blue;
	width: 40px;
	margin-bottom: 20px;
	font-size:35px;
}
.sosmed a:first-child{
	margin-left:5px;
}
.sosmed a:nth-child(2) i{
	color: red;
	margin-left:2px;
}
.sosmed a:nth-child(3) i{
	color: black;
	margin-left:5px;
}
 .sosmed a:nth-child(4) i{

 	color:blue;
 }
.sosmed h3{
	display: flex;
	opacity: 1;
	font-size: 14px;
	font-family: arial;
	margin-left: 20px;
	margin-top:10px;
	transition: 0.3s ease;
	color: black;
}
.after{
	display:none;
	margin-top: 50px;
	width: 100%;
}
.after h2{
	color: black;
	font-size: 20px;
	
	left: 20px;
	width: 100%;
	font-family: 'Poppins',arial;
}
.after p{
	margin-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
}
.comment{
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 10px;
	width: 80%;
	display: block;
	border-radius: 5px;
	background-color: gray;
}
.comment form{
	display: block;
	margin:20px;
}
.comment form input{
	display: block;
	width:200px;
	height:20px;
	padding: 10px;
	border-radius: 2px;
	border: none;
	font-family: 'Poppins',arial;
	outline: none;
}
.comment form textarea{
	margin-top: 20px;
	padding: 10px;
	border-radius: 2px;
	outline: none;
	font-family: 'Poppins',arial;
}
.btn{
	display: flex;
}
.comment form button{
	margin-top: 10px;
	margin-bottom: 10px;
	width:220px;
	padding: 10px;
	background-color: rgba(0,108,255,.3);
	font-family: arial;
	font-weight: bold;
	color: white;
	border:none;
	transition: all 0.3s ease;
}
.comment form button:hover{
	background-color: rgba(0,108,255,1);
	box-shadow:0 0 10px #79C0FF;
}
.board{
	width:100%;
	display: flex;
	height:560px;
}
.c-board{
	margin:auto;
	width: 95%;
	height:500px;
	border-radius: 5px;
	overflow-y: scroll;
	background-color:rgba(255,255,255,.5);
}
.div_comment{
	width: 75%;
	height:100px;
	margin-top: 20px;
	
	margin-top:40px;
}
.div_comment:last-child(){
}
.comen{
	display: inline-block;
	padding: 10px;
	background-color: rgba(255,255,255,1);
	margin-left: 10px;
	border-radius: 0 10px 10px 10px;

}
.comen p{
	color: black;
	font-weight: bold;
	font-family: 'Poppins',arial;
	display: inline-block;
}
.comen-txt {
	margin-top:10px;
	padding: 10px;
	padding-right: 30px;
	background-color: gray;
	border-radius: 5px;
}
.comen-txt p{
	font-weight: normal;
	color: white;
	display: inline-block;
}
}