.bg-yellow{
	background-color: #FD6400;
}


@media screen and (min-width: 768px) {
    .navbar-text-1{
	color: white;
	font-family: fantasy sans-serif;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 27px;
}
.navbar-text-1:hover{
	color: white ;
	font-size: 28px;
}

.ads-p{
	display: none;
}
}



@media screen and (max-width: 767px) {

        .navbar-text-1{
	color: white;
	font-family: fantasy sans-serif;
	text-decoration: none;
	font-size: 27px;}
	.ads-l{
		display: none;
	}

}





.logo-1{
	padding-top: 30px;
}

.text-logo-2 h1{
	padding-top: 20px;
	font-family: fantasy sans-serif;
	color: white;
}
.prg-view p {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	color: #33fd00;
}
.prg-view p strong {
	color: #B5FD00;
	font-weight: 700;
}
.sysreq ol li{
	display: flex;
	color:#33fd00;
}
.dwn-text{
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-family: sans-serif;
}
footer{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
	background-color: #414141;
}

.pad-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.code-paste{
}
.code-paste p {
	border-radius: 15px;
	padding: 40px;
	position: relative;
	text-align: left;
	color: #0369FF;
	background-color: #292D3E;
	transition: 0.3s ease;
}
.code-paste p:hover{
	background-color: #020F41;
}
.link-npp{
	text-decoration: none;
	transition: 0.3s;
}
.link-npp:hover{
	text-decoration: underline;
}