body{
    background-color: black;
}
.bg-yellow{
	background-color: #FD6400;
}
@media screen and (min-width: 768px) {
    .navbar-text-1{
	color: white;
	font-family: fantasy;
	text-decoration: none;
	font-size: 27px;
    transition: 0.3s;
}
.navbar-text-1:hover{
	color: white ;
	font-size: 28px;
}

.ads-p{
	display: none;
}
}

.navbar-text-1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    transition: 0.3s;
    background-color: blueviolet;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.navbar-text-1:hover{
    color:blueviolet;
    background-color: white;
    boder:1px solid blueviolet;
}

@media screen and (max-width: 767px) {

        .navbar-text-1{
	color: white;
	font-family: fantasy;
	text-decoration: none;
	font-size: 27px;}
	.ads-l{
		display: none;
	}

}
.logo{
    width: 50vh;
    margin-top: 40px;
}
.logo-text{
    text-align: center;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
.colom-start{
    margin-top: 70px;
}
.text-num{
    color:#ffff;
}
.text-num-2{
    padding: 10px;
    border-radius: 10px;
    color:white;
    border: 2px solid #00005B;
    transition: 0.3s;
}
.btn-download{
    color: white;
    background-color: blueviolet;
    padding: 0 10px 0 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn-download h1{
    font-size: 25px;
}
.btn h3{
    font-size: 15px;
    color: wheat;
}
.btn{
    border: 1px solid white;
    border-radius: 10px;
}
.iklan-horizon{
    margin-top: 25px;
    justify-content: center;
    justify-items: center;
}