@media only screen and (max-width: 978px) {
 nav{
    display: block;
    height: 75px;
    transition: 0.3s ease;
    overflow: hidden;
    }
.nav-brand{
    margin-left: 20px;
 }
 .nav-right{
    margin-top: -30px;
    margin-left: 20px;
 }
 nav:hover{
    height: 200px;
 }
}
