.isi-data{
    display: flex;
    margin: 20px 50px;
}
.isi-data-katalog{
    display: flex;
}
.isi-data-katalog img{
    width: 100px;
    border-radius: 10%;
}
.katalog-info p:first-child{
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 0 20px;
}
.katalog-info span{
    margin: 0 20px;
    font-family: "Open Sans";
    font-size: 12px;
    color:white;
    background-color: rgb(149, 149, 245);
    padding: 2px 10px;
    font-weight: 600;
    border-radius: 10px;
    width: auto;
}
.data-download{
    display: flex;
    position: absolute;
    margin-top: 20px;
    right: 40px;
    background-color: rgb(30, 136, 21);
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px 0 15px;
    color: white;
    font-family: 'Open Sans';
}
.data-download p{
    margin-left: 10px;
}
.data-download i{
    font-size: 16px;
    margin-top: 4px;
}
.get-info{
    width: 100%;
    display: flex;
}

.info{
    margin: 0 50px;
    width: 70%;
}
.info img{
    width: 100%;
    border: 1px solid gray;
    margin: 20px 0;
}
.iklan{
    width: 30%;
}
.isi-iklan{
    position: absolute;
    right: 25px;
}
